                    @import "mixins";
                    // Variables
                    $color-background: #fff;
                    $color-button: #000000;
                    $color-text: #000;
                    $color-links: #000;
                    $color-text-jumbotron: #fff;
                    $color-background-jumbotron: radial-gradient(farthest-corner, #000000e0, #000000);
                    $color-article: #000;
                    $color-shadow: #000;
                    $color-text-next: #000;
                    $color-white: #fff;
                    $color-grey-dark: #777;
                    * {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                    }
                    
                    html {
                        font-size: 10px;
                        scroll-behavior: smooth;
                        -webkit-overflow-scrolling: touch;
                    }
                    
                    body {
                        background: $color-background; //linear-gradient(to top, #1b1b1b 0%, #8a8a8a 100%);
                        background-size: cover;
                        background-attachment: fixed;
                        font-family: 'Raleway', sans-serif;
                        line-height: 1.5;
                    }
                    
                    h1 {
                        margin: 0 1.5rem 1.5rem 1.5rem;
                    }
                    
                    p {
                        margin: 0 1.5rem 1.5rem 1.5rem;
                    }
                    
                    h2 {
                        margin: 1rem;
                    }
                    
                    a {
                        color: $color-links;
                        margin: 1rem;
                    }
                    
                    .jumbotron-container {
                        min-height: 40rem;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        align-items: center;
                        color: $color-text-jumbotron;
                        background: $color-background-jumbotron;
                        padding: 1rem 1rem 1rem;
                        box-shadow: 0 .4rem .8rem 0 rgba($color-shadow, 0.2), 0 .6rem .2rem 0 rgba($color-shadow, 0.19);
                        margin-bottom: 3rem;
                        transition: all 1s;
                        font-size: 2rem;
                        height: 100vh;
                        &__my-name {
                            padding: 0rem;
                            margin: 1rem;
                            animation-name: moveInLeft;
                            animation-duration: 1s;
                            animation-timing-function: ease-out;
                            backface-visibility: hidden;
                        }
                        &__title {
                            padding: 0;
                            margin-bottom: 2rem;
                            animation-name: moveInRight;
                            animation-duration: 1s;
                            animation-timing-function: ease-out;
                            backface-visibility: hidden;
                        }
                        &__lead {
                            font-style: italic;
                            font-weight: normal;
                            text-align: center;
                            margin-bottom: 3rem;
                            animation-name: moveInTop;
                            animation-duration: .5s;
                            animation-delay: .5s;
                            animation-timing-function: ease-out;
                            animation-fill-mode: backwards;
                        }
                        &__btn-about-me {
                            font-size: 2rem;
                            text-decoration: none;
                            background-color: $color-background;
                            padding: .8rem 0rem;
                            width: 40%;
                            box-shadow: .2rem .2rem 1.5rem rgba($color-shadow, 0.4);
                            color: $color-button;
                            border: none;
                            border-radius: 2rem;
                            outline: none;
                            cursor: pointer;
                            &:link,
                            &:visited {
                                text-transform: uppercase;
                                text-decoration: none;
                                padding: 1.5rem 4rem;
                                display: inline-block;
                                transition: all .2s;
                                border-radius: 10rem;
                                position: relative;
                            }
                            &:hover {
                                transform: translateY(-.3rem);
                                box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
                            }
                            &:active {
                                transform: translateY(-1px);
                                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
                            }
                            &-white {
                                background-color: $color-white;
                                color: $color-grey-dark;
                            }
                            &::after {
                                content: "";
                                height: 100%;
                                width: 100%;
                                top: 0;
                                left: 0;
                                display: inline-block;
                                border-radius: 2rem;
                                z-index: -1;
                                position: absolute;
                                transition: all .4s;
                            }
                            &-white::after {
                                background-color: $color-white;
                            }
                            &:hover::after {
                                transform: scaleX(1) scaleY(1.6);
                                opacity: 0;
                            }
                        }
                        &__btn-animated {
                            animation-name: moveInTop;
                            animation-duration: .5s;
                            animation-delay: .75s;
                            animation-timing-function: ease-out;
                            animation-fill-mode: backwards;
                        }
                    }
                    
                    // @media screen and (max-width: 430px) {
                    //     .jumbotron-container {
                    //         font-size: 15px;
                    //         height: 100vh;
                    //     }
                    // }
                    article {
                        color: $color-article;
                        margin: 0px 5rem 1rem 5rem;
                        font-size: 1.6rem;
                        line-height: 2.5rem;
                    }
                    
                    .article-container {
                        display: flex;
                        flex-direction: column;
                    }
                    
                    // #aboutme {
                    //     display: flex;
                    //     flex-direction: row;
                    // }
                    .head {
                        display: flex;
                        margin-top: 0rem;
                    }
                    
                    .aboutme-container {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                    
                    .aboutme-paragraph {
                        margin-top: 0rem;
                        height: 100%;
                    }
                    
                    .photo-social {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    
                    .social-icons {
                        display: flex;
                        margin-right: 3rem;
                        margin-left: 3rem;
                        margin-bottom: 2rem;
                        justify-content: center;
                    }
                    
                    .next-section-container {
                        display: flex;
                        justify-content: center;
                        .next {
                            display: flex;
                            align-items: center;
                            margin: 3rem;
                            color: $color-text-next;
                            background: rgba($color-background, 0);
                            border: 0 solid $color-background;
                            font-size: 2rem;
                            outline: none;
                            text-decoration: none;
                            &:hover {
                                cursor: pointer;
                                .fa-chevron-down {
                                    transition: all .2s;
                                    transform: rotate(-90deg);
                                }
                            }
                        }
                    }
                    
                    .portfolio-container {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        &__card {
                            a {
                                display: block;
                            }
                            flex: 0 1 35%;
                            margin-left: 2rem;
                            margin-bottom: 2rem;
                            justify-content: center;
                            padding: .5rem;
                            box-shadow: .2rem .2rem 1.5rem rgba($color-shadow, 0.4);
                        }
                    }
                    
                    .contact-container {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        &__email {
                            h1 {
                                position: relative;
                                top: 50%;
                                margin: auto;
                            }
                            box-shadow: .2rem .2rem 1.5rem rgba($color-shadow, 0.6);
                            text-decoration: none;
                            cursor: pointer;
                            border: 0px solid black;
                            border-radius: .5rem;
                            margin-top: 2rem;
                            margin-bottom: 3rem;
                            padding: 1rem;
                            font-weight: 900;
                        }
                    }
                    
                    // .portfolio-container {
                    //     display: flex;
                    //     justify-content: flex-start;
                    //     &__card {
                    //         padding: 1rem;
                    //         box-shadow: .2rem .2rem 1.5rem rgba($color-shadow, 0.4);
                    //         flex-direction: row;
                    //     }
                    // }
                    /********* START MEDIA *************/
                    
                    @include respond(tab-land) {
                        .aboutme-container {
                            flex-direction: row;
                            justify-content: space-between;
                        }
                        .head {
                            justify-content: center;
                            text-align: center;
                        }
                    }
                    
                    @include respond(tab-port) {
                        .aboutme-container {
                            flex-direction: column-reverse;
                            justify-content: center;
                        }
                        .portfolio-container__card {
                            flex: 0 1 100%;
                        }
                        .head {
                            justify-content: center;
                            text-align: center;
                        }
                    }
                    
                    @include respond(phone) {
                        .portfolio-container__card {
                            flex: 0 1 100%;
                        }
                        .aboutme-container {
                            flex-direction: column-reverse;
                            justify-content: center;
                        }
                        .head {
                            justify-content: center;
                            text-align: center;
                        }
                    }
                    /************************** END MEDIA **********************/
                    
                    @keyframes moveInLeft {
                        0% {
                            opacity: 0;
                            transform: translateX(-100px);
                        }
                        80% {
                            transform: translateX(10px);
                        }
                        100% {
                            opacity: 1;
                            transform: translateX(0);
                        }
                    }
                    
                    @keyframes moveInRight {
                        0% {
                            opacity: 0;
                            transform: translateX(100px);
                        }
                        80% {
                            transform: translateX(-10px);
                        }
                        100% {
                            opacity: 1;
                            transform: translateX(0);
                        }
                    }
                    
                    @keyframes moveInTop {
                        0% {
                            opacity: 0;
                            transform: translateY(30px);
                        }
                        100% {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }