* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
}
body {
 background: linear-gradient(to top, #6600cc 0%, #9900cc 100%);
 	background-size: cover;
	background-attachment: fixed;
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
}

h1 {
	font-size: 30px;
	margin: 0  15px 15px 15px ;
}

p {
margin: 0  15px 15px 15px ;
}

h2 {
	margin: 10px;
}

a {
	color: #ADD8E6;	
	margin: 8px;
}

.jumbotron-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: #fff;
	background-color: rgba(255, 255, 255, .2);
	padding:20px 10px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 30px;
	transition: all 1s;
}

@media screen and (min-width: 431px) {
.jumbotron-container {
	font-size: 20px; 
	height: 100vh;
}
}

@media screen and (max-width: 430px) {
	.jumbotron-container {
		font-size: 15px;
			height: 100vh;

	}
	}

article {
	color: #ADD8E6;
	margin: 0px 50px 50px 50px;
}

.article-container {
	display: flex;
	flex-direction: column;
	line-height: 25px;
}

.my-name {
	padding: 0px;
	margin: 10px;
}

.title {
	padding: 0px;
	margin: 0px;
}

.btn {
 font-size: 20px;
 text-decoration: none;
 background-color: #fff;
 padding: 8px 0px;
 width: 40%;
 box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
 	animation-name: out;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    color: #6600cc;
}

.btn:hover {

}

.btn:click {
color: #6600cc;
}

#aboutme {
	display: flex;
	flex-direction: column;
}

.head  {
	display: flex;
	margin-top: 0px;
}

.aboutme-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media  all and (max-width: 660px) {
 .aboutme-container {
 	flex-direction: column-reverse;
 	justify-content: center;
 }

 .myportrait {
 	display: flex;
 	border: 10px solid white;
 	height: 200px;
 	width:200px;
 	margin-right: 30px;
 	margin-bottom: 5px;
	margin-left: 30px;
 	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
 	justify-content: center;
 }


 .head {
 		display: flex;
 		justify-content: center;
 		text-align: center;
 }

}  /************************** END MEDIA **********************/

 .myportrait {
 	margin-right: 30px;
 	margin-bottom: 15px;
	margin-left: 30px;
 	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
 }

.aboutme-paragraph {
	margin-top: 0px;
	height: 100%;
}

.photo-social {
	display: flex;
	flex-direction: column;
align-items: center;
}

.social-icons {
	display: flex;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 20px;
	justify-content: center;
}


.lead {
	font-style: italic;
	font-weight: normal;	
	text-align: center;
	margin-bottom: 30px;
}

.next {
	display: flex;	
	align-items: center;
	margin: 30px;
	color: #ADD8E6;
	background: rgba(255, 255, 255, 0);
	border: 0 solid #fff;
	font-size: 20px;
	outline: none;
	text-decoration: none;
}

.next:hover {
	cursor: pointer;
}


.next:hover .fa-chevron-down {
	transition: all .2s;
	transform: rotate(-90deg);
}

.next-section-container {
	display: flex;
	justify-content: center;
}
